html, body, section {
  background-color: #ffeead;
  margin: 10px;

}

.container {
font-size: 1.5em;
color: #fff;
}

.header {
  background-color: #468dc7;	
}

.menu {
    background-color: #ff6f69;
}

.gallery {
  background-color: #88d8b0;
  padding: 5px;
}

.footer {
      background-color: #ffcc5c;
}

.gallery > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

.gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

